.contenedor-principal {
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    
  }

  .noticia-1 {
    width: 90%;
    height: 10%;  
    display: flex;
    background-color: brown;
      
  }

  .noticia-2 {
    width: 100%;
    height: 100%;  
    display: flex;
      
  }







/* Hacer un listado de noticias con imagen, título y párrafo de contenido
Meterlas en un contenedor flex y hacer que se distribuyan en dos columnas
Elegir una noticia, por ejemplo, la última, y ponerla como destacada, en primer lugar y ocupando las dos columnas. */